.wrapper {
	margin: auto;
	padding-left: 10ch;
	padding-right: 10ch;
	font-family: monospace; /* for 'ch' */
}

.wrapper > * { /* prevent inheritance */
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.poem {
	font-family: monospace;
	white-space: pre-wrap;
	text-align: left;

}

.by {
	text-align: right;
}
